.score-display{
	font-size: 48px;
}

.three-column{
	width: 100%;
	outline: 1px solid red;
}

.team-wrapper{
	float: left;
	box-sizing: border-box;
	width: 30%;
	outline: 1px solid blue;
	
}

.play-list{
	float:left;
	box-sizing: border-box;
	width: 30%;
	outline: 1px solid green;
}

