.scoreboard {
  box-sizing: border-box; }

.score-display {
  box-sizing: border-box;
  border: 0px solid #efc;
  width: 40%;
  padding: 20px;
  padding-top: 0px;
  padding-right: 0px;
  text-align: right;
  float: left; }

.score-display:nth-child(3) {
  text-align: left;
  padding-left: 0px;
  padding-right: 20px; }

.score-display:nth-child(3) h1, .score-display:nth-child(3) h2 {
  padding-left: 30px; }

.score-display h1 {
  font-size: 60px;
  margin: 0px;
  padding-right: 30px; }

.score-display h2 {
  padding-right: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

progress[value]::-webkit-progress-value {
  background-color: #fa0; }

progress[value]::-moz-progress-bar {
  background-color: #fa0; }

div.undo-wrap {
  box-sizing: border-box;
  width: 20%;
  float: left; }

.undo-wrap button {
  transition: 125ms linear;
  display: inline-block;
  margin: 0px;
  margin-top: 80px;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  color: white;
  border-radius: 8px;
  background-color: red; }

.undo-wrap button:hover {
  background-color: #cc0000; }

.undo-wrap button:active {
  background-color: #660000; }
