.scoreboard {
  box-sizing: border-box; }

.score-display {
  box-sizing: border-box;
  border: 0px solid #efc;
  width: 40%;
  padding: 20px;
  padding-top: 0px;
  padding-right: 0px;
  text-align: right;
  float: left; }

.score-display:nth-child(3) {
  text-align: left;
  padding-left: 0px;
  padding-right: 20px; }

.score-display:nth-child(3) h1 {
  padding-right: 0px; }

.score-display:nth-child(3) h2 {
  padding-left: 30px; }

.score-display h1 {
  font-size: 75px;
  font-family: "Bowlby One SC", sans-serif;
  margin: 0px;
  line-height: 1em;
  color: #eee; }

.score-display h2 {
  color: #eee;
  padding-right: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold; }

.score-display.team0 h1 {
  text-shadow: 0px 0px 45px #f30; }

.score-display.team0 h2 {
  text-shadow: 0px 0px 10px #f30; }

.score-display.team0 progress[value]::-webkit-progress-value {
  transition: 250ms linear;
  background-color: #f30; }

.score-display.team0 progress[value]::-moz-progress-bar {
  transition: 250ms linear;
  background-color: #f30; }

.score-display.team1 h1 {
  text-shadow: 0px 0px 45px #03f; }

.score-display.team1 h2 {
  text-shadow: 0px 0px 10px #03f; }

.score-display.team1 progress[value]::-webkit-progress-value {
  transition: 250ms linear;
  background-color: #03f; }

.score-display.team1 progress[value]::-moz-progress-bar {
  transition: 250ms linear;
  background-color: #03f; }

div.undo-wrap {
  box-sizing: border-box;
  width: 20%;
  float: left; }

.undo-wrap button {
  transition: 125ms linear;
  display: inline-block;
  margin: 0px;
  margin-top: 80px;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  color: white;
  border-radius: 8px;
  background-color: red; }

.undo-wrap button:hover {
  background-color: #cc0000; }

.undo-wrap button:active {
  background-color: #660000; }

.score-page__last-play {
  clear: both; }
