@import "../../variables.scss";

.score-page__last-play{
  clear: both;
}

.scoreboard{
  //height: 200px;
  box-sizing: border-box;
}
.scoreboard__undo-wrap{
  box-sizing: border-box;
  width: 20%;
  float: left;
}

.scoreboard__undo-button{
  // this has a decent amount in common with the other buttons in ScoreControls.scss, maybe a mixin?
  transition: 125ms linear;
  display: inline-block;
  margin: 0px;
  margin-top: 80px;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  color: white;
  border-radius: 8px;
  background-color: red;
  &:hover{
    background-color: darken(red, 10%);
  }
  &:active{
    background-color: darken(red, 30%);
  }
}

.score-display{
   box-sizing: border-box;
  border: $debugBorder;
  width: 40%;
  padding-bottom: 20px;
  padding-top: 0px;
  float: left;

  &--team0{
    text-align: right;
    padding-left: 20px;
    padding-right: 0px;
  }

  &--team1{
    text-align: left;
    padding-left: 0px;
    padding-right: 20px;
  }
  
  &__score{
    font-size: 75px;
    font-family: "Bowlby One SC", sans-serif;
    margin: 0px;
    line-height: 1em;
    color: #eee;

    &--team0{
      text-shadow: 0px 0px 45px $team0Color;
    }

    &--team1{
      text-shadow: 0px 0px 45px $team1Color;
    }
  }
  &__team-name{
    color: #eee;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;

    &--team0{
      text-shadow: 0px 0px 10px $team0Color;
      padding-right: 30px;
    }

    &--team1{
      text-shadow: 0px 0px 10px $team1Color;
      padding-left:30px;
    }
  }

  &__progress{
    &[value]::-webkit-progress-value{
      transition: 250ms linear;
    }

    &[value]::-moz-progress-bar{
      transition: 250ms linear;
    }

    &--team0[value]::-webkit-progress-value{
      background-color: $team0Color;
    }

    &--team0[value]::-moz-progress-bar{
      background-color: $team0Color;
    }

    &--team1[value]::-webkit-progress-value{
      background-color: $team1Color;
    }

    &--team1[value]::-moz-progress-bar{
      background-color: $team1Color;
    }
  }
}
