.setup-controls {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto; }
  .setup-controls label.label {
    text-align: left;
    color: #efc;
    margin-bottom: 2px; }
  .setup-controls button {
    font-size: 1.5em;
    margin: 0;
    display: block;
    width: 100%; }
  .setup-controls .default-reset {
    display: flex;
    flex-direction: row; }
    .setup-controls .default-reset button {
      font-size: 1em;
      line-height: 1.5em;
      font-weight: bold;
      margin: 5px; }
  .setup-controls .settings-warning {
    visibility: hidden; }
    .setup-controls .settings-warning.shown {
      visibility: visible; }
  .setup-controls input {
    background-color: rgba(0, 0, 0, 0.3);
    color: #efc;
    border: 2px solid #333;
    font-weight: bold; }
    .setup-controls input:focus {
      color: #eee; }
  .setup-controls input[type=checkbox] {
    transform: scale(2, 2);
    margin: 5px; }
  .setup-controls label[for$=Name] {
    color: #eee; }
  .setup-controls label[for=team1Name] {
    text-shadow: 0px 0px 10px #f30; }
  .setup-controls label[for=team2Name] {
    text-shadow: 0px 0px 10px #03f; }
