@import "../../variables.scss";

.setup-controls{
  label.label{
    text-align: left;
    color: $mainFG;
    margin-bottom: 2px;
  }
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
 
  button{
    font-size: 1.5em;
    margin: 0;
    display: block;
    width: 100%;
  }
  .default-reset{
    display: flex;
    flex-direction: row;
    button{
      font-size: 1em;
      line-height: 1.5em;
      font-weight: bold;
      margin: 5px;
    }
  }
  .settings-warning{
    visibility: hidden;
    &.shown{
      visibility: visible;
    }
  }

  input{
    background-color: rgba(0,0,0,0.3);
    color: $mainFG;
    border: 2px solid #333;
    font-weight: bold;
    &:focus{
      color: #eee;
    }
  }


  input[type=checkbox]{
    transform: scale(2.0,2.0);
    margin: 5px;
  }

  label[for$=Name]{
    color: #eee;
  }
  label[for=team1Name]{
    text-shadow: 0px 0px 10px $team0Color;
  }
  label[for=team2Name]{
    text-shadow: 0px 0px 10px $team1Color;
  }
}