@import "../../variables.scss";

$border: 1px solid red;

div.team-stats{
	box-sizing: border-box;
	//border: 1px solid orange;
	border: $debugBorder;
	color: $mainFG;
	width: 50%;
	padding: 2px;
	float: left;
	table{
	  background-color: lighten($mainBG, 10%);
	  background-color: rgba(0,0,0,0.2);
	  color: darken($mainFG, 7%);
	  td{
	  	border-bottom-color: $mainBG;
	  }
	  tr:hover{
	  	background-color: $mainBG;
	  }
	}
}