div.team-stats {
  box-sizing: border-box;
  border: 0px solid #efc;
  color: #efc;
  width: 50%;
  padding: 2px;
  float: left; }

div.team-stats table {
  background-color: #3c3c3c;
  background-color: rgba(0, 0, 0, 0.2);
  color: #e2ffa8; }

div.team-stats table td {
  border-bottom-color: #222; }

div.team-stats table tr:hover {
  background-color: #222; }
