.margin-chart__title {
  font-weight: bold; }

.margin-chart__empty-message {
  font-style: italic; }

.margin-chart__chart {
  width: 100%; }

.margin-chart__line {
  stroke: #eee; }

.margin-chart__rect--tie {
  fill: purple; }

.margin-chart__rect--team0 {
  fill: #f30; }

.margin-chart__rect--team1 {
  fill: #03f; }
