@import "../../variables.scss";

.margin-chart{

  &__title{
    font-weight: bold;
  }

  &__empty-message{
    font-style: italic;
  }

  &__chart{
    width: 100%;
  }

  &__line{
    stroke: #eee;
  }

  &__rect{
    &--tie{
        fill: purple;
      }
    &--team0{
      fill: $team0Color;
    }
    &--team1{
      fill: $team1Color;
    }
    &:last-child{
      //stroke: white;
      //opacity: 1;
      box-shadow: 5px 5px 5px yellow;
      filter: drop-shadow( -5px -5px 5px #fff );
    }
  }
}

