@import "../../variables.scss";

div.tabs.is-large{
  margin-bottom: 5px;
}

.tabs a{
	//color: white;
  color: $mainFG;
	padding: 10px;
	&:hover{
		color: $mainFG;
		border-bottom: 1px solid #dbdbdb;
	}
}

.tabs ul{
  li{
    flex-grow: 1;
  }
}
