@import "variables.scss";

.play-by-play{
	box-sizing: border-box;
	float: left;
	width: 40%;
	border: $debugBorder;
  	margin: auto;
  	height: 200px;
	overflow-y: scroll;
	.play{
		border-bottom: 1px solid lighten($mainBG, 10%);
	}
}
