.scoreboard {
  box-sizing: border-box; }

.score-display {
  box-sizing: border-box;
  border: 0px solid #efc;
  width: 50%;
  padding: 20px;
  padding-top: 0px;
  padding-right: 60px;
  text-align: right;
  float: left; }

.score-display:nth-child(2) {
  text-align: left;
  padding-left: 60px;
  padding-right: 20px; }

.score-display h1 {
  font-size: 60px;
  margin: 0px; }

progress[value]::-webkit-progress-value {
  background-color: #fa0; }

progress[value]::-moz-progress-bar {
  background-color: #fa0; }
