.score-controls {
  box-sizing: border-box;
  border: 0px solid #efc;
  width: 50%;
  float: left; }

.score-controls:nth-of-type(1) {
  text-align: right;
  padding-right: 10px;
  border-right: 1px solid #efc; }

.score-controls:nth-of-type(2) {
  text-align: left;
  padding-left: 10px;
  border-left: 1px solid #efc; }

.score-controls button {
  transition: 125ms linear;
  display: inline-block;
  margin: 7px;
  padding: 7px;
  font-size: 36px;
  background-color: #086;
  color: white;
  border-radius: 8px; }

.score-controls button:hover {
  background-color: #297; }

.score-controls button:active {
  background-color: #068; }

.score-controls button.undo-play {
  background-color: red; }

.score-controls button.undo-play:hover {
  background-color: #cc0000; }

.score-controls button.undo-play:active {
  background-color: #660000; }
